body{
    background-color:#FEE8FB;
  }
  hr{
    background-color:white;
    border-style: none;
    height:2px;
  }
  h1,h3{
    color:#807E80;
  }
.ri1,.ri3,.ri4,.ri5,.ri6,.ri7,.ri8{
height:270px;
width:200px;
}
.ri2{
  height:270px;
  width:200px;
}
.r1,.r3,.r4,.r5,.r6,.r7,.r8{
  margin:5px;
  display: inline;
  height:200px;
  width:200px;
}
.r2{
    margin:5px;
  display: inline;
  height:200px;
  width:200px;
}

